@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);
  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body {
  background-color: var(--color-off-white);
  color: var(--color-off-black);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  background-color: var(--color-white);
  max-width: 600px;
  padding: 25px;
  border-radius: 35px 35px 100px 35px;
  margin-top: 50px;
}
form {
  display: flex;
  gap: 12px;
  position: relative;
  padding: 20px;
  border-bottom: 1px solid var(--color-light-grey);
}
input {
  font-size: 1.1rem;
  padding: 10px;
  border: 1px solid var(--color-light-grey);
  gap: 10px;
  width: 30%;
  margin-bottom: 10px;
  border-radius: 7px;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
form button {
  position: absolute;
  border: none;
  background-color: var(--color-purple);
  border-radius: 50%;
  right: 1px;
  bottom: -26px;
  cursor: pointer;
  padding: 7px 10px;
  transition: all 0.2s ease-in-out;
}
form button:hover {
  background-color: var(--color-off-black);
}
button img {
  height: 28px;
  width: 28px;
}
label {
  color: var(--color-smokey-grey);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: -5px;
  font-weight: 400;
}
.month {
  left: 35%;
}
.year {
  left: 65%;
}

h1 {
  font-style: italic;
  font-weight: 800;
  font-size: 3rem;
}
h1 span {
  color: var(--color-purple);
}
.bottom-section {
  margin-top: 15px;
}
.birthday {
  text-align: center;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
@media (max-width: 560px) {
  form button {
    right: 42%;
  }
  .bottom-section {
    margin-top: 35px;
  }
  input {
    margin-bottom: 22px;
  }
  .main-container {
    max-width: 330px;
  }
  .month {
    left: 38%;
  }
  .year {
    left: 69%;
  }
}
